* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER IMAGE SECTION */
/* HEADER IMAGE SECTION */
header {
    width: 100%;
    padding: 20px 35px;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: white;
    font-size: 35px;
    padding: 5px 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Deletes bullet infront of bullet list */
    list-style: none;
}

header nav ul li {
    margin: 15px; 
}

header nav ul li a {
    /* Deletes any decoration after link has been pressed */
    text-decoration: none;
    color: white;
}

/* HERO IMAGE SECTION */
/* HERO IMAGE SECTION */
.heroImage {
    background-image: url("../images/nyc_skyline.jpeg");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* CLASSES FOR ABOUT ME - MY WORK - CONTACT ME */
/* CLASSES FOR ABOUT ME - MY WORK - CONTACT ME */

.left-header {
    flex: 10%;
    font-size: 35px;
    padding-left: 20px;
    text-align: right ;
    padding-right: 1rem;
    justify-items: flex-start;
    border-right: black 4px solid;
} 

.generic-layout {
    flex: 90%;
    width: 100%;
    padding: 30px 40px;
    padding-left: 0;
    display: flex; 
    justify-content: center; 
    justify-items:flex-end ;
}

/* ABOUT ME SECTION */
/* ABOUT ME SECTION */

.about-me {
    flex: 80%;
    padding-left: 30px;
    font-size: 1rem; 
}

/* MY WORK SECTION */
/* MY WORK SECTION */

.my-work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80vh;
    flex: 80%;
    padding: 0 30px;
    grid-gap: 10px;    
}

.work-grid-item { 
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 1px solid var(--light);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: cover;
}

.my-work-item-1 {
    grid-column: 1 / span 2 ;
    grid-row: 1 / span 2;
    background-image: url('../images/run_buddy.jpeg')
}

.my-work-item-2 {
    grid-column: 3 / span 1 ;
    grid-row: 1 / span 1;
    background-image: url('../images/superhero.png')
}

.my-work-item-3 {
    grid-column: 3 / span 1 ;
    grid-row: 2 / span 2;
    background-image: url('../images/fidi.jpeg');
}

.my-work-item-4 {
    grid-column: 1 / span 1 ;
    grid-row: 3 / span 1;
    background-image: url('../images/miami.jpeg');
}

.my-work-item-5 {
    grid-column: 2 / span 1 ;
    grid-row: 3 / span 1;
    background-image: url('../images/Lima.jpeg');
}

.work-grid-item h3 {
    margin: 20px 10px 20px 0; 
    padding: 10px; 
    background-color: grey ;
    color: white;
    font-size: 20px;
    box-shadow: 3px 3px black;
}

.work-grid-item span {
    font-size: 13px;
}

.work-grid-item a {
    text-decoration: none;
}


/* CONTACT ME SECTION */
/* CONTACT ME SECTION */

.contact-info {
    display: flex;
    flex: 80%; 
    padding: 40px;
    justify-content: space-around;
}